<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="location1">
    <div class="label-simple">
        <h2 class="title-ui">家妹居所</h2>
    </div>
    <p class="summary">你的妹妹是一个尤其伶俐可爱的小姑娘，你和她自幼失祜，一同被师父所收养。因为这段流离的童年经历，你和她相较起别个兄妹更加亲近些。但随着
        年岁增长，你和她之间倒渐渐变得拘谨起来了。
        </p>
<!--    此处做判定  如果师父来过 -->
<!--    <p>空气中残存着她留下的隐隐香气，想着彼人的行止容貌，你的心念几乎要失守。所幸在那之前，<你念了好几遍太上清静经才渐渐停住那些念头></你念了好几遍太上清静经才渐渐停住那些念头>。</p>-->
</div>

</body>
</html>