<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="location1">
    <div class="label-simple">
        <h2 class="title-ui">卧室</h2>
    </div>
    <p class="summary">这是你的居所，你的日常起居之处。作为修行之人，你本性是不喜浮华的，所以这里的摆设一切从简，此外你也没有多余的银两去置办那些俗物。
        </p>
<!--    此处做判定  如果师父来过 -->
<!--    <p>空气中残存着她留下的隐隐香气，想着彼人的行止容貌，你的心念几乎要失守。所幸在那之前，<你念了好几遍太上清静经才渐渐停住那些念头></你念了好几遍太上清静经才渐渐停住那些念头>。</p>-->
</div>

</body>
</html>