<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="location1">
    <div class="label-simple">
        <h2 class="title-ui">师父居所</h2>
    </div>
    <p class="summary">她喜欢熏香，所以身上一股香味总是挥之不去，你眷恋她身上的气味，总是想要往她身上靠去。但她却清冷似海上明月，你始终无法亲近多些。</p>
</div>

</body>
</html>